<carousel [interval]="0">
  <slide class="slider-container">
    <img src="assets/images/slider/slide_1.png" alt="first slide">
    <div class="slider-block">
      <div class="slider-pre-title">Предложение месяца</div>
      <h3 class="slider-title">Продвижение в Instagram для вашего бизнеса <span>-15% </span>!</h3>
      <div class="slider-action">
        <button class="button first-button" (click)="openModal('Таргет')">Подробнее</button>
      </div>
    </div>
  </slide>
  <slide class="slider-container">
    <img src="assets/images/slider/slide_2.png" alt="second slide">
    <div class="slider-block">
      <div class="slider-pre-title">Акция</div>
      <h3 class="slider-title">Нужен грамотный <span>копирайтер?</span></h3>
      <p class="slider-text">Весь декабрь у нас действует акция на работу копирайтера.</p>
      <div class="slider-action">
        <button class="button" (click)="openModal('Копирайтинг')">Подробнее</button>
      </div>
    </div>
  </slide>
  <slide class="slider-container">
    <img src="assets/images/slider/slide_3.png" alt="third slide">
    <div class="slider-block">
      <div class="slider-pre-title">Новость дня</div>
      <h3 class="slider-title third-title"><span>6 место</span> в ТОП-10 SMM-агенств Москвы!</h3>
      <p class="slider-text">Мы благодарим каждого, кто голосовал за нас!</p>
      <div class="slider-action">
        <button class="button" (click)="openModal('SMM')">Подробнее</button>
      </div>
    </div>
  </slide>
</carousel>
